.bash_history
.bash_logout
.bashrc
.cache
.ccache
downloads
.git
.gitconfig
.lesshst
.NERDTreeBookmarks
.pki
.rnd
src
.ssh
.subversion
tmp
.viminfo
.vim/bundle
work
.zshrc
.cargo/
.config/
.debug/
.gnupg/
.pylint.d/
.python_history
.wget-hsts
build/
share/
